<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<link href="https://fonts.googleapis.com/css?family=Crafty+Girls|Fontdiner+Swanky" rel="stylesheet">

	<!-- Compiled and minified Materialize CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

	<!-- Linking Font Awesome -->
    <script src="https://use.fontawesome.com/b38c8ed4c7.js"></script>

	<link rel="stylesheet" href="/public_assets/css/style.css" type="text/css" />
	<title>Burgerlicious Sequel Menu</title>
</head>

<body>
	<img src="/assets/img" width="400px" id="cute_burger">

	{{{ body }}}

	<footer class="burgerFooter">
		</div>
	</footer>
</body>
</html>